

.home, .sections, .usersMaps, .editObjects, .yourMaps{
  padding-top: 6rem;
  padding-left: 10rem;
  padding-right: 15rem;
  align-items: center;
  justify-content: center;
  
}
.color-nav{
  background-color: rgb(21, 9, 53);

}
.logo{
  padding-top: 5rem;
}
h1{
  padding-top: 5rem;
}
