
.DisplayEditor__itemBar {
    height: 20rem;
}

.Item > img {
    height: 5rem;
    border-radius: 20rem;
}

.Item {
    margin: 0 2rem;
}

.Item:hover {
    cursor: pointer;
}

.active {
    border: 2px solid rgb(71, 52, 0);
}